*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.player{
    display: none;
}
.name1 input{
    height: 32px;
    width: 141px;
    text-align: center;
    margin-bottom: 5px;
}
.name2 input{
    height: 32px;
    width: 141px;
    text-align: center;
}
.msgBox{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.2vmin;
}
.hide{
    display: none; 
}
#msg{
    font-size: 54px;
    color: rgb(23, 23, 23);  
}
button.newGame{
    height: 58px;
    width: 165px;
    border-radius: 7px;
    background-color: rgb(10, 231, 124);
    color: white;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 120px;
}
.container{
    margin-top: -55px;
    margin-bottom: -55px;
    height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
}
.btn{
    background-color: #d1f0f0;
    height: 17vmin;
    width: 17vmin;
    border-radius: 12px;
    border: none;
    font-size: 6rem;
    color: rgb(48, 14, 170);
    
}
.reset{
    background-color: rgb(36, 33, 38);
    color: white;
    border-radius: 7px;
    height: 10vmin;
    width: 45vmin;
    font-size: 8vmin;
}