@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Paaji 2", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
}
body {
  background-color: black;
  color: white;
}
.header {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./image/bg.jpg");
  background-size: cover;
  background-position: center center;
  padding: 8px 10px;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
nav .logo {
  height: 56px;
  cursor: pointer;
}
nav button {
  height: 33px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  outline: 0px;
  padding: 4px 11px;
  font-size: 14px;
}
.lang {
  width: 134px;
  padding: 5px;
  align-items: center;
  background-color: transparent;
  border: 1px solid white;
}
.lang img {
  height: 8px;
  margin-left: 15px;
}
.sign {
  width: 105px;
  background-color: red;
}
.head-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 11px;
}
.head-content h1 {
  font-size: 52px;
  line-height: 60px;
  font-weight: 700;
  max-width: 1200px;
}
.head-content h3 {
  font-size: 22px;
  /* line-height: 40px; */
  font-weight: 300;
  max-width: 700px;
  margin-bottom: 14px;
}
.head-content p {
  font-size: 20px;
  line-height: 60px;
  font-weight: 400;
  max-width: 700px;
}
.email-signup {
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.email-signup input {
  height: 52px;
  width: 433px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 21px;
  padding: 11px 40px;
}
.email-signup button {
  background-color: red;
  color: white;
  height: 52px;
  width: 193px;
  border-radius: 5px;
  font-size: 21px;
  cursor: pointer;
  padding: 4px 40px;
}

.feature {
  padding: 60px 15%;
  font-size: 22px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  padding: 50px 0px;
  row-gap: 3px;
}
.text-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}
.img-col {
  flex-basis: 50%;
  margin-bottom: 20px;
}
h2 {
  max-width: 400px;
  font-size: 50px;
}
.img-col img {
  display: block;
  width: 90%;
  margin: auto;
}

.img-col video {
  margin: 7px;
}
.faq {
  padding: 12px 10px;
  text-align: center;
}
.faq h1 {
  font-size: 38px;
  font-weight: 900;
}
.grid {
  display: grid;
  grid-template-columns: auto;
  margin: 32px;
  gap: 6px;
  margin-bottom: 42px;
}
.grid-item {
  text-align: left;
  cursor: pointer;
  background-color: rgb(66, 63, 63);
  padding: 15px 10px;
}
.grid-item:hover {
  padding: 13px 12px;
  /* transform: translate(6px 6px); */
  background-color: rgb(98, 96, 96);
  font-size: 20px;
}
.grid-item p::after {
  content: "+";
  font-size: 30px;
  position: absolute;
  right: 60px;
  text-align: center;
  padding: 3px 8px;
}

.faq-form p {
  font-size: 23px;
  text-align: center;
}
.faq-form .email-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  /* border: 2px solid red; */
  height: 40vh;
  margin: 21px;
}

.footer-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.fooBtn button {
  height: 33px;
  width: 122px;
  border-radius: 4px;
  color: rgb(62, 58, 58);
  cursor: pointer;
  outline: 0px;
  padding: 4px 11px;
  font-size: 14px;
}
.fooBtn foo-lang {
  width: 134px;
  padding: 5px;
  align-items: center;
  background-color: rgb(54, 50, 50);
  border: 1px solid white;
}

.copyright a {
  color: white;
}
